@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', helvetica, sans-serif;
  font-size: 1em;
}
a {
  text-decoration: none;
  cursor: pointer;
}
iframe {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
button {
  padding: 0.5rem;
  outline-style: none;
}
.info {
  text-align: center;
}
.icon-item {
  padding: 10px 3px 5px 10px;
  font-size: 30px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* header */
.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
  /* border: 0.0625rem solid #000; */
  background-color: #1e2223;
}
.header-container a {
  margin: 0 0.125rem;
  font-size: 20px;
  color: #fff;
}
.header-container a:hover {
  color: #239bc8;
}
.collapsed-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.heading-text {
  text-transform: uppercase;
}
.navbar-toggle {
  width: 40px;
  height: 40px;
}
.presentation-text {
  display: flex;
  align-self: flex-start;
  max-height: 0;
  margin: 0.125rem 0;
  text-transform: uppercase;
  color: #ddd;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-height: 0;
  margin: 1rem 0 0.5rem 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.navbar-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.nav-item {
  padding: 0 0.5rem;
}

/* main */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.tab-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0 1rem 0;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
}
.login-container {
  display: flex;
  flex-direction: column;
}

/* about section */
.about-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}
.about-header {
  width: 100%;
}
.about-title {
  text-transform: uppercase;
  font-weight: 800;
}
.about-image {
  max-width: 100%;
  width: 60%;
  height: auto;
  margin: 0.5rem;
  border-radius: 100%;
}
.about-text {
  max-width: 50%;
  padding: 0.75rem;
}
.article-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.sign-in-container, .sign-up-container, .ajax-form-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.contact-container {
  display: flex;
  flex-direction: column;
}

/* element caption display */
.element-box {
  display: inline-block;
  box-sizing: content-box;
  width: 480px;
  height: 320px;
  margin: 10px;
  border: 0.0625rem solid #000;
  background-color: #fff;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.element-image {
  width: 100%;
  height: inherit;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}
.transparent-box {
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  transition: background-color 0.3s ease;
}
.transparent-box > .element-caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.element-box:hover .element-image {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.element-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.8);
}
.element-box:hover .element-caption {
  transform: translateY(-20px);
  opacity: 1.0;
}
.element-caption {
  font-size: 0.8em;
}
.element-title, .element-date, .element-date {
  color: #fff;
}
.element-title {
  text-transform: uppercase;
}
.opacity-low {
  color: rgba(255, 255, 255, 0.6);
}

/* single element display */
.focus-element-container {
  display: flex;
  /* max-width: 60%; */
  margin: 0 auto;
}
.focus-element-header {
  display: flex;
  flex-basis: 100%;
  flex-grow: 3;
  justify-content: center;
  align-content: center;
}
.focus-element-image {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}
.focus-content-container {
  flex-basis: 100%;
  flex-grow: 0;
  padding: 1rem;
  border-left: 1px solid #000;
}
.focus-element-title {
  text-transform: uppercase;
}
.focus-element-text {
  display: flex;
  flex-direction: column;
  margin: 0.0625rem;
  padding: 0.5rem 0;
  border: 0.0625rem solid #000;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 0.5rem;
  background-color: #1e2223;
}
.footer-container a {
  font-size: 20px;
  color: #fff;
}
.footer-container a:hover {
  color: #239bc8;
  opacity: rgba(255, 255, 255, 0.6);
}
.icons-container {
  border-bottom: 1px solid #fff;
  margin-bottom: 0.5rem;
}
.footer-text {
  color: #ddd;
}
.hidden {
  display: none;
}

/* modal */
.modal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: fixed;
}
.close {
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #000;
  float: right;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.cv-container {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}

/* media queries */
@media (max-width: 1200px) {
  .about-image {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .about-container {
    flex-direction: column;
  }
  .about-image {
    width: 50%;
  }
}
