html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: helvetica, sans-serif;
}
article {
  display: flex;
  flex-direction: column;
  margin: 0.0625rem;
  padding: 0.5rem;
  padding-top: 0;
  border: 0.0625rem solid #000;
}
img {
  display: block;
  width: 200px;
  height: 200px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.header-container a {
  margin: 0 0.125rem;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.tab-container {
  display: flex;
  justify-content: space-around;
}
.content-container {
  display: flex;
  flex-wrap: wrap;
}
.login-container {
  display: flex;
  flex-direction: column;
}
.article-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.sign-in-container, .sign-up-container, .ajax-form-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.contact-container {
  display: flex;
  flex-direction: column;
}
.footer-container {
  display: flex;
  justify-content: center;
  margin: auto 0;
  padding: 0.5rem;
  border: 0.0625rem solid #000;
}
.hidden {
  display: none;
}
.info {
  text-align: center;
}
